<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to vleesboek.nl, <%= @user.name %></h1>
    <p>
      You have successfully signed up to vleesboek.nl, which is an excellent choice.
      You must be very smart. And if you are a girl, you are probably very pretty too.
      Your username is: <%= @user.login %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>